.memCard {
    display: flex;
    width: 800px;
     width: 550px; 
  
  }
  .memHead{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .memCard .memText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-left: -60px;
    width: 300px;
    z-index: 1;
  } 
  /* .memCard .memText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    width: auto;
    z-index: 1;
  } */
  
  .memCard .memText h4 {
    font-size: 25pt;
  }
  
  .memCard .memText p {
    /* font-family: monsterratMedium; */
    color: rgb(204, 202, 202);
    color: rgb(187, 181, 181);
    font-size: 13pt;
  }
  
  .memCard .memText p>span {
    color: rgb(255, 255, 255);
    font-size: 15pt;
    font-weight: 900;
  }
  
  .memCard .memText .descrMem {
    color: rgb(218, 205, 205);
  }

  .memCard>img {
    height: 500px;
    width: 350px;
    border-radius: 30px;
    object-fit: cover;
    filter: brightness(0.6) contrast(0.9);
  }



  @media (max-width: 1200px) {
    .memCard>img {
        height: 400px;
        width: 50%;
        object-fit: cover;
      }
      .memCard {
        display: flex;
        width: 100%;
        gap: 10px;
      }
    
      .memCard .memText {
        margin-left: 0px;
        width: 45%;
        padding: 15px;
        font-size: 10pt;
      }
    
      .memCard .descrMem {
        padding-right: 5px;
      }
    
      .memCard .memText h4 {
        font-size: 16pt;
      }
    
      .memCard .memText p>span {
        font-size: 12pt;
        font-weight: 900;
      }    
  }
  @media (max-width: 767px) {
    .memCard>img {
        height: 500px;
        width: 95%;
        object-fit: cover;
        margin: 0 auto;
      }
      .memCard {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
      }
    
      .memCard .memText {
        margin-left: 0px;
        width: 95%;
        padding: 15px;
        font-size: 10pt;
        text-align: justify;
      }
    
      .memCard .descrMem {
        padding-right: 5px;
      }
    
      .memCard .memText h4 {
        font-size: 16pt;
      }
      .memCard .memText p{
        font-size: 10pt;
        text-align: left;
       
      }
      .memCard .memText p>span {
        font-size: 12pt;
        font-weight: 900;
      }
  }