.footer {
    margin-top: 80px;
    color: white;
    width: 100%;
}

.footerWrapper {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footerWrapper h3 {
    margin-bottom: 20px;
}

.footerWrapper p>span {
    color: goldenrod;
}

.logo img {
    height: 200px;
    width: 400px;
}

.company ul li {
    list-style: none;
}

.footer .privacy {
    width: 400px;
    font-size: 10pt;
    text-align: justify;
    color: gainsboro;
}

.footer .privacy p>a {
    color: goldenrod;
}


/* Large desktops and laptops */
@media (max-width: 1200px) {
    .footerWrapper {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .footerWrapper h3 {
        margin-bottom: 20px;
        font-size: 11pt;
    }

    .footerWrapper p {
        font-size: 10pt;
    }

    .logo img {
        height: 120px;
        width: 230px;
    }

    .footer .privacy {
        width: 300px;
        font-size: 10pt;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .footerWrapper {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .footerWrapper h3 {
        margin-bottom: 20px;
        font-size: 10pt;
    }

    .footerWrapper p {
        font-size: 10pt;
    }

    .footerWrapper ul li {
        font-size: 10pt;
    }

    .logo img {
        height: 100px;
        width: 200px;
    }

    .footer .privacy {
        width: 200px;
        font-size: 6pt;
    }

    .socials svg {
        height: 23px;
        width: 23px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .logo img {
        height: 60px;
        width: 120px;
    }

    .footerWrapper {
        padding: 5px;
    }

    .footerWrapper ul li {
        font-size: 8pt;
    }

    .socials svg {
        height: 20px;
        width: 20px;
    }

    .footerWrapper h3 {
        margin-bottom: 20px;
        font-size: 8pt;
    }

    .footerWrapper p {
        font-size: 8pt;
    }
}

/* Landscape phones and smaller */
@media (max-width: 600px) {
    .footerWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 5px;
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .footerWrapper h3 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 16pt;
    }

    .footerWrapper p {
        font-size: 10pt;
    }

    .footerWrapper ul li {
        font-size: 10pt;
    }

    .logo img {
        height: 150px;
        width: 90%;
        object-fit: contain;
    }

    .socials svg {
        height: 30px;
        width: 30px;
    }

    .footer .privacy {
        width: 100%;
        font-size: 10pt;
    }
}