.privacy {
    color: whitesmoke;
}

.privacyWrapper {
    width: 90%;
    margin: 0 auto;
}
.f01{
    margin-top: 100px;
}
.f02, .f03, .f04, .f05, .f06, .f07, .f08, .f09, .f10, .f11, .f12, .f13, .f14 {
    margin-top: 50px;
}