@font-face {
  font-family: monsterratItalic;

  src: url('/media/fonts/Monsterrat/MontserratAlternates-LightItalic.ttf');
}

@font-face {
  font-family: monsterratMedium;
  src: url('/media/fonts/Monsterrat/MontserratAlternates-Light.ttf');
}

@font-face {
  font-family: monsterratLight;
  src: url('/media/fonts/Monsterrat/MontserratAlternates-ExtraLight.ttf');
}

@font-face {
  font-family: Comfortaa;
  src: url('/media/fonts/Comfortaa/Comfortaa-Light.ttf');
}
* {
  padding: 0;
  margin: 0;
  font-family: Comfortaa,'Century Gothic', SomeFont, sans-serif;
  scroll-behavior: smooth;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  background-color: rgb(24, 24, 24);
}

body, html {
  overflow-x: hidden;
  max-width: 100%;
}

video::-webkit-media-controls {
  display: none;
}

.center {
  /* width: 90%; */
  /* background-color: red; */
}

.center img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.slick-list {
  margin: 0 -7px;
}

.slick-slide>div {
  padding: 0 20px;
}

*:focus {
  outline: 0;
  outline: none;
}

@media (max-width: 767px) {
  html, body, #root, .App {
    background-color: rgb(24, 24, 24);
  }
}