@font-face {
  font-family: monsterratItalic;

  src: url('/media/fonts/Monsterrat/MontserratAlternates-LightItalic.ttf');
}

@font-face {
  font-family: monsterratMedium;
  src: url('/media/fonts/Monsterrat/MontserratAlternates-Light.ttf');
}

@font-face {
  font-family: monsterratLight;
  src: url('/media/fonts/Monsterrat/MontserratAlternates-ExtraLight.ttf');
}

@font-face {
  font-family: Comfortaa;
  src: url('/media/fonts/Comfortaa/Comfortaa-Light.ttf');
}

/*Слайдер*/
.center {
  /* width: 90%; */
  /* background-color: red; */
}

.center img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  filter: contrast(0.7) brightness(0.7);
  z-index: -2;
}

.slick-list {
  margin: 0 -7px;
}

.slick-slide>div {
  padding: 0 20px;
}

.slideText {
  position: absolute;
  bottom: 0;
  padding: 20px;
  z-index: 1;
  text-align: left;
  /* left: 0; */
}

.slideText h4 {
  margin-bottom: 10px;
}

.slideText p {
  color: rgb(187, 181, 181);
}

.App {
  display: flex;
  flex-direction: column;

}

.Center {
  flex: 1 1 auto;

}

.AppWrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/*MAIN*/
.mainBlock {
  height: 100vh;
  width: 100%;
  /* background-image: url('./media/back2.jpg');
  filter: brightness(1) contrast(1);
  background-size: cover;
  background-position: center; */
  position: relative;

}

.mainBlock>img {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: contrast(1) brightness(0.3);
}

.mainBlock .mainText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mainBlock .mainText h1 {
  color: white;
  font-size: 40pt;
}

.mainBlock .mainText p {
  font-size: 16pt;
  font-weight: 900;
  /* margin-left: 150px; */
  width: auto;
  color: gray;
  text-transform: uppercase;
  font-family: Comfortaa, 'Century Gothic', SomeFont, sans-serif;
}

.mainBlock .mainText p>span {
  color: whitesmoke;
  font-weight: 900;
}

/*ABOUT*/

.aboutBlock {
  height: auto;
  width: 100%;
  background-color: rgb(24, 24, 24);
  color: white;
  margin-top: 100px;
}

.aboutBlock>h1 {
  color: whitesmoke;
  font-size: 20pt;

  /* padding-left: 350px; */
}

.aboutBlock>h1>svg {
  width: 40px;
}

.aboutWrapper {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutWrapper>img {
  height: 450px;
  width: 450px;
}

.aboutText {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 16pt;
}

.aboutText p {
  color: gray;
  text-align: justify;
}

.aboutText p>span {
  color: whitesmoke;

}

/*TEAM*/

.team {
  /* margin: 80px auto 0px auto; */
  height: auto;
  width: 100%;
  background-color: rgb(24, 24, 24);
  color: white;

}

.team>h1 {
  color: whitesmoke;
  font-size: 20pt;

  /* padding-left: 350px; */
}




.teamWrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}



/*SERVICES*/
.services {
  color: white;

}

.services>h1 {
  color: whitesmoke;
  font-size: 20pt;

  /* padding-left: 350px; */
}

.servicesWrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicesWrapper img {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.servicesWrapper video {
  height: 500px;
  width: 500px;
}

.servicesText {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.servicesText .serviceType {
  width: 250px;
  margin: 10px 0px 10px 0px;
}

.serviceType {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.serviceType p {
  font-size: 15pt;
  color: rgb(204, 202, 202);
}

.serviceType span {
  color: gray;
  font-size: 24pt;
}

/*searchingBest*/
.searchingBest {

  color: white;
}

.searchingBest h1 {
  font-size: 20pt;
}

.searchingWrapper {
  margin-top: 60px;
}

.searchingWrapper img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.searchText {
  display: flex;
  width: 500px;
  margin: 60px auto 0px auto;
  color: gray;
}

.searchText>button {
  width: 300px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.searchText>button:active {
  transform: translate(10px, 10px);
}

/*ACCORDEON*/

.accordeon {
  color: white;
  margin: 0 auto;

}

.accordeon h1 {
  color: whitesmoke;
  font-size: 20pt;

}

.accorderonWrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.accordeonItem {
  width: 1200px;
  margin: 0 auto;
}

.accordeonItem p {
  color: gray;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 1.5s;
}

.accordeonItem svg:hover {
  cursor: pointer;
}

.accordeonItem hr {
  width: 1200px;
  margin: 10px auto 10px auto;
}

.accHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

p.accActive {

  height: auto;
  opacity: 1;
  transition: 1.5s;
}

.contacts {
  color: white;
  /* margin: 0 auto; */
}

.contacts h1 {
  color: whitesmoke;
  font-size: 20pt;

}

.contactsWrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.leftSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftSide span {
  color: rgb(224, 183, 127);
  font-size: 15pt;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.socIcons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.socIcons a {
  text-decoration: none;
  color: white;
}

.rightSide {
  width: 50%;
  padding: 5px;
  background-image: url('/media/images/backform4.jpg');
  background-position: center;
  background-size: cover;
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  .AppWrapper {
    width: 1000px;
  }

  /*MAIN*/
  .mainBlock {
    height: 100vh;
    width: 100%;

  }

  .mainBlock .mainText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .mainBlock .mainText h1 {
    font-size: 40pt;
  }

  .mainBlock .mainText p {
    font-size: 14pt;
    /*width: 400px; */
  }

  /*ABOUT*/

  .aboutBlock {
    height: auto;
    width: 100%;
    background-color: rgb(24, 24, 24);
    color: white;

  }

  .aboutBlock>h1 {
    color: whitesmoke;
    font-size: 20pt;

    /* padding-left: 350px; */
  }

  .aboutBlock>h1>svg {
    width: 40px;
  }

  .aboutWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .aboutWrapper>img {
    height: 450px;
    width: 450px;
  }

  .aboutText {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 16pt;
  }

  .aboutText p {
    color: gray;

  }

  /*TEAM*/

  .team {
    /* margin: 80px auto 0px auto; */
    height: auto;
    width: 100%;

  }

  .team>h1 {
    font-size: 20pt;

  }



  .teamWrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }




  /*SERVICES*/
  .services {}

  .services>h1 {
    font-size: 20pt;

  }

  .servicesWrapper {
    width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .servicesWrapper img {
    height: 400px;
    width: 400px;
  }

  .servicesWrapper video {
    height: 400px;
    width: 400px;
  }

  .servicesText {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .servicesText .serviceType {
    width: 200px;
    margin: 10px 0px 10px 0px;
  }

  .serviceType {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .serviceType p {
    font-size: 12pt;
  }

  .serviceType span {
    font-size: 20pt;
  }

  /*searchingBest*/
  .searchingBest {}

  .searchingBest h1 {
    font-size: 20pt;
  }

  .searchingWrapper {
    margin-top: 60px;
  }

  .searchingWrapper img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }

  .searchText {
    display: flex;
    width: 500px;
    margin: 60px auto 0px auto;
  }

  .searchText>button {
    width: 300px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .searchText>button:active {
    transform: translate(10px, 10px);
  }

  /*ACCORDEON*/

  .accordeon {
    color: white;
    margin: 0 auto;

  }

  .accordeon h1 {
    color: whitesmoke;
    font-size: 20pt;

  }

  .accorderonWrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

}




/* Portrait tablets and medium desktops */
@media (max-width: 992px) {
  .AppWrapper {
    width: 770px;
  }

  /*MAIN*/
  .mainBlock {
    height: 100vh;
    width: 100%;

  }

  .mainBlock .mainText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .mainBlock .mainText h1 {
    font-size: 35pt;
  }

  .mainBlock .mainText p {
    font-size: 12pt;
    /* width: 400px; */
  }

  /*ABOUT*/

  .aboutBlock {
    height: auto;
    width: 100%;

  }

  .aboutBlock>h1 {
    color: whitesmoke;
    font-size: 18pt;

    /* padding-left: 350px; */
  }

  .aboutBlock>h1>svg {
    width: 40px;
  }

  .aboutWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .aboutWrapper>img {
    height: 360px;
    width: 360px;
  }

  .aboutText {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 14pt;
  }

  /*TEAM*/

  .team {
    /* margin: 80px auto 0px auto; */
    height: auto;
    width: 100%;

  }

  .team>h1 {
    font-size: 18pt;

  }


  .teamWrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }




  /*SERVICES*/
  .services {}

  .services>h1 {
    font-size: 20pt;

  }

  .servicesWrapper {
    width: 770px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .servicesWrapper img {
    order: 0;
    height: 400px;
    width: 100%;
  }

  .servicesWrapper video {
    order: 0;
    height: 400px;
    width: 100%;
  }

  .servicesText {
    order: 1;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .servicesText .serviceType {
    width: 300px;
    margin: 10px 0px 10px 0px;
  }

  .serviceType {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .serviceType p {
    font-size: 12pt;
  }

  .serviceType span {
    font-size: 20pt;
  }

  /*searchingBest*/
  .searchingBest {}

  .searchingBest h1 {
    font-size: 20pt;
  }

  .searchingWrapper {
    margin-top: 60px;
  }

  .searchingWrapper img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }

  .searchText {
    display: flex;
    width: 500px;
    margin: 60px auto 0px auto;
  }

  .searchText>button {
    width: 300px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .searchText>button:active {
    transform: translate(10px, 10px);
  }

  /*ACCORDEON*/

  .accordeon {
    color: white;
    margin: 0 auto;

  }

  .accordeon h1 {
    color: whitesmoke;
    font-size: 20pt;

  }

  .accorderonWrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .contacts h1 {
    font-size: 20pt;
  }

  .contactsWrapper {
    margin-top: 60px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
  }

  .leftSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }

  .leftSide span {
    color: rgb(224, 183, 127);
    font-size: 15pt;
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .socIcons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .socIcons>a {
    text-decoration: none;
    color: white;
  }

  .rightSide {
    width: 100%;
    padding: 5px;
    background-image: url('/media/images/backform4.jpg');
    background-position: center;
    background-size: cover;
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .App {
    background-color: rgb(24, 24, 24);
  }

  .AppWrapper {
    width: 100%;
    text-align: center;
    gap: 40px;
  }

  /*MAIN*/
  .mainBlock {
    height: 100vh;
    width: 100%;
    background-color: rgb(24, 24, 24);
  }

  .mainBlock .mainText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    text-align: center;
  }

  .mainBlock .mainText h1 {
    font-size: 9vw;

  }

  .mainBlock .mainText p {
    font-size: 12pt;

    /* width: 400px; */
  }

  /*ABOUT*/

  .aboutBlock {
    height: auto;
    width: 100%;
    margin-top: 40px;
    background-color: rgb(24, 24, 24);
  }

  .aboutBlock>h1 {
    font-size: 18pt;

    /* padding-bottom: 20px; */
    /* padding-left: 350px; */
  }

  .aboutBlock>h1>svg {
    width: 40px;
  }

  .aboutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .aboutWrapper>img {
    height: 360px;
    object-fit: cover;
    width: 100%;
  }

  .aboutText {
    width: 95%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 20px;
    font-size: 14pt;
  }

  /*TEAM*/

  .team {
    /* margin: 80px auto 0px auto; */
    height: auto;
    width: 100%;

    background-color: rgb(24, 24, 24);
  }

  .team>h1 {
    font-size: 18pt;

  }



  .teamWrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }




  /*SERVICES*/
  .services {

    background-color: rgb(24, 24, 24);
  }

  .services>h1 {
    font-size: 20pt;

  }

  .servicesWrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .servicesWrapper img {
    order: 0;
    height: 400px;
    width: 100%;
  }

  .servicesWrapper video {
    order: 0;
    height: 400px;
    width: 100%;
  }

  .servicesText {
    order: 1;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .servicesText .serviceType {
    width: 100%;
    margin: 10px 0px 10px 0px;
  }

  .serviceType {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .serviceType p {
    font-size: 12pt;
  }

  .serviceType span {
    font-size: 20pt;
  }

  /*searchingBest*/
  .searchingBest {

    background-color: rgb(24, 24, 24);
  }

  .searchingBest h1 {
    font-size: 20pt;
  }

  .searchingWrapper {
    margin-top: 60px;
  }

  .searchingWrapper img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }

  .searchText {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 60px auto 0px auto;
  }

  .searchText>button {
    width: 150px;
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .searchText>button:active {
    transform: translate(10px, 10px);
  }

  /*ACCORDEON*/

  .accordeon {
    color: white;
    margin: 0 auto;
    background-color: rgb(24, 24, 24);

  }

  .accordeon h1 {
    color: whitesmoke;
    font-size: 20pt;

  }

  .accorderonWrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .mainBlock {
    height: 100vh;
    width: 100%;
    /* text-align: center; */
  }

  .mainBlock .mainText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  .mainBlock .mainText h1 {
    font-size: 12vw;
  }

  .mainBlock .mainText p {
    width: 100%;
    font-size: 4vw;
    margin-top: 10px;
  }

  .aboutBlock {
    height: auto;
    width: 100%;

  }

  .aboutBlock>h1 {
    font-size: 18pt;

    /* padding-bottom: 20px; */
    /* padding-left: 350px; */
  }

  .aboutBlock>h1>svg {
    width: 40px;
  }

  .aboutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }

  .aboutWrapper>img {
    height: 360px;
    object-fit: cover;
    width: 100%;
  }

  .aboutText {
    width: 95%;
    display: flex;
    flex-direction: column;
    text-align: justify;

    gap: 20px;
    font-size: 11pt;
  }
}

@media (max-width: 460px) {
  .slideText h4 {
    margin-bottom: 10px;
    width: 200px;
    font-size: 10pt;
  }

  .slideText p {
    color: rgb(187, 181, 181);
    font-size: 10pt;
  }
}